@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Cairo&display=swap");

:root {
  --toastify-toast-min-height: 40px !important;
}

body {
  margin: 0;
}
@media (min-width: 576px) {
  body {
    overflow: hidden;
  }
}
.ant-btn-primary {
  box-shadow: none;
}

.ant-card-body {
  border: none;
}
[dir="rtl"] {
  font-family: "Cairo" !important;
}
/* Customize the scrrgb(96, 42, 42)ar width */
.simplebar-track.simplebar-vertical {
  width: 8px; /* Change to your desired width */
}
.simplebar-scrollbar:before {
  background-color: rgba(96, 105, 114, 0.397);
}

.ant-input-group-addon {
  background-color: transparent !important;
}

.ant-input-search .ant-input-search-button {
  height: 31px;
}

.ant-modal-header {
  background: none !important;
}
